div.wrap {
    padding-left: 300px;
    padding-right: 300px;
    min-height: 75vh;
}

#cartlist table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#cartlist table th,
#cartlist table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#cartlist table th {
    background-color: #f4f4f4;
}

/* 열 너비 조정 */
#cartlist .image-col {
    width: 10%;
    /* 사진 열 너비 설정 */
}

#cartlist .name-col {
    width: 40%;
    /* 상품명 열 너비 설정 */
}

#cartlist .quantity-col {
    width: 15%;
    /* 총수량 열 너비 설정 */
}

#cartlist .price-col {
    width: 15%;
    /* 판매가 열 너비 설정 */
}

#cartlist .total-col {
    width: 15%;
    /* 합계 열 너비 설정 */
}

#cartlist .delete-col {
    width: 5%;
    /* 삭제 열 너비 설정 */
}

#cartlist table td img {
    max-width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    width: 100%;
}

.footer button {
    flex: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(22, 38, 53);
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(22, 38, 53);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    min-width: 150px;
    height: 40px;
    margin-right: 10px;
}

.footer button:last-child {
    margin-right: 0;
}

.footer button:hover {
    background-color: rgb(22, 38, 53);
    color: white;
}