@charset "UTF-8";

#wrap {
   margin: 0 auto;
   text-align: center;
   min-height: 70vh;
   /* 전체 페이지 높이 조정 */
   padding-left: 300px;
   /* 페이지 좌우 여백 추가 */
   padding-right: 300px;
   /* 페이지 좌우 여백 추가 */
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* 세로 중앙 정렬 */
}

#Login_wrap {
   width: 80%;
   height: 650px;
   margin: 50px auto 0;
   /* 상단 여백 추가 */
   padding: 20px;
   background-color: #f8f8f8;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.logintop {
   text-align: center;
   margin-bottom: 20px;
}

.logintop h2 {
   font-size: 24px;
   color: #333;
   font-weight: bold;
}

.login_con {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.login_con input[type='text'],
.login_con input[type='password'] {
   width: 200px;
   height: 40px;
   padding: 10px;
   margin: 5px 0;
   font-size: 14px;
   color: #333;
   border: 1px solid #ddd;
   border-radius: 5px;
   background-color: #f9f9f9;
}

.login_con span img {
   width: 20px;
   margin-right: 10px;
   vertical-align: middle;
}

/* 기존 로그인 버튼 스타일 */
.login-btn {
   width: 220px;
   height: 45px;
   margin-top: 20px;
   background-color: #333;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.login-btn:hover {
   background-color: #555;
}

/* 카카오 로그인 버튼 스타일 */
.kakao-btn {
   width: 220px;
   height: 45px;
   margin-top: 20px;
   background-color: #fee500;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.kakao-btn img {
   height: 180%;
   /* 이미지 크기 조절 */
   width: auto;
   /* 비율 유지 */
}

.kakao-btn:hover {
   background-color: #ffeb3b;
}

/* 네이버 로그인 버튼 스타일 */
.naver-btn {
   width: 220px;
   height: 45px;
   margin-top: 20px;
   background-color: #03c75a;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.naver-btn img {
   height: 180%;
   /* 이미지 크기 조절 */
   width: auto;
   /* 비율 유지 */
}

.naver-btn:hover {
   background-color: #29b34e;
}

.login_bottom {
   text-align: center;
   margin-top: 10px;
}

.login_bottom p {
   display: inline-block;
   font-size: 14px;
}

button#kakao {
   margin-bottom: 50px;
}