.map-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    /* 전체 페이지 높이 조정 */
    padding: 20px;
}

.map {
    width: 60%;
    height: 600px;
    /* 고정된 세로 크기 */
    max-width: 800px;
}

.description-box {
    width: 36%;
    height: 569px;
    margin-left: 20px;
    /* 맵 이미지와 설명 박스 사이의 간격 조정 */
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 입체적 효과 */
    border-radius: 8px;
}

.description-box h1 {
    margin-top: 0;
}

.description-box p {
    margin: 5px 0;
}

p {
    font-size: 24px;
}

@media (max-width: 768px) {
    .map-container {
        flex-direction: column;
        /* 작은 화면에서 세로 정렬 */
        align-items: center;
    }

    .map {
        width: 100%;
    }

    .description-box {
        width: 100%;
        /* 작은 화면에서 설명 박스의 너비 100% */
        height: auto;
        margin-left: 0;
        margin-top: 20px;
        /* 상단 여백 추가 */
    }
}